@{
	Layout = null;
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />

	<title>CovidX</title>
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top mb-2" >
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="/img/CovidIcon.svg"
					 alt=""
					 width="30"
					 height="30"
					 class="d-inline-block align-text-top" />
				CovidX
			</a>
			<!--Hamburger-->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>


			<!--nav links-->
			<!--collapsable navbar-->
			<div class="collapse navbar-collapse " id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item">
						<a  class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-action="Login" asp-controller="Account" >Login</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>

	<!--break up different pages into sections-->
	<section class="bg-light text-dark"  style="height: 100%;">
		<div class="container col-xxl-8 px-4 pb-1 pt-4">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">

				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3 text-lightblue"> Getting tested for Covid-19 has never been any easier!</h1>
					<p class="lead my-4 "> At CovidX we provide home-based Covid-19 tests, at your leisure.</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<a asp-action="Register" asp-controller="Home" type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Register Today</a>
					</div>
				</div>
				<div class="col-10 col-sm-8 col-lg-6">
					<img src="/img/CovidNurses.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
			</div>
		</div>
	</section>



	<!-- Footer -->
	<footer class="py-4 bg-light text-dark shadow text-center position-relative fixed-bottom">
		<div class="container">
			<p class="lead">Copyright &copy; CovidX 2021</p>
		</div>
	</footer>



	<!-- REQUIRED SCRIPTS -->
	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


	<!-- AdminLTE App -->
	<script src="~/js/adminlte.min.js"></script>



</body>

</html>