<!-- BODY HEADER START -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<!-- PAGE TITLE START -->
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Register Dependents </h1>
			</div>
			<!-- PAGE TITLE END -->
			<!-- NAVIGATION BREADCRUMBS START -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<!-- BREADCRUMB START -->
					<li class="breadcrumb-item">CovidX</li>
					<!-- BREADCRUMB END -->
					<!-- BREADCRUMB START -->
					<li class="breadcrumb-item">Dependent</li>
					<!-- BREADCRUMB END -->
					<!-- ACTIVE BREADCRUMB START -->
					<li class="breadcrumb-item active">Register Dependents</li>
					<!-- ACTIVE BREADCRUMB END -->
				</ol>
			</div>
			<!-- NAVIGATION BREADCRUMBS END -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- BODY HEADER END -->