@model DependentCreateViewModel
@inject IPatientService _patientService
@{
	Layout = "~/Views/Shared/CovidXAdminLte/_Layout.cshtml";
	ViewData["Title"] = "Profile";
}

<!-- PAGE HEADER -->
<partial name="Header/_DependentPartial.cshtml" />

@section Scripts{
	<script>
		$(function () {

			$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

			$('[data-mask]').inputmask()
		})
	</script>
}

<!-- 12 COLUMN CARD START -->
<form asp-controller="Patient"
	  asp-action="RegisterDependent"
	  class="col-md-12">
	<div class="card">
		<!-- CARD HEADER START -->
		<div class="card-header">
			<h3 class="card-title">Set up your patient profile</h3>
			<!-- CARD TOOLS START -->
			<div class="card-tools">
				<!-- ADD CARD TOOLS HERE -->

			</div>
			<!-- CARD TOOLS END -->
		</div>
		<!-- CARD HEADER END -->
		<!-- CARD BODY START -->
		<div class="card-body">
			<!-- ADD CONTENT HERE -->
			<!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
			<div id="accordion">
				<!--<div class="card card-primary">
					<div class="card-header">
						<h4 class="card-title w-100">
							<a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
								Avatar
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="collapse show" data-parent="#accordion">
						<div class="card-body">
							SELECTION HERE-->
				<!---Partial Avatar-->
				<!--<partial name="ProfileDetails/_AvatarCreate.cshtml" />

						</div>
					</div>
				</div>-->
				<div class="card card-danger">
					<div class="card-header">
						<h4 class="card-title w-100">
							<a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
								Dependent Details
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<!--Partial View for Dependent Profile Info-->
							<partial name="DependentDetails/_DependentInfo.cshtml" model="Model" />
						</div>
					</div>
				</div>
				<div class="card card-danger">
					<div class="card-header">
						<h4 class="card-title w-100">
							<a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
								Medical Aid Details
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<!--Partial View for Dependent Profile Info-->
							<partial name="DependentDetails/_MedicalAidPlan.cshtml" model="Model" />
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- CARD BODY END -->
		<!-- CARD FOOTER START -->
		<div class="card-footer">
			<!-- ADD BUTTONS HERE -->
			<button type="submit"
					class="btn btn-outline-primary">
				Save
			</button>
			<a asp-action="Index"
			   asp-controller="Home"
			   class="btn btn-outline-secondary float-right">
				Cancel
			</a>
		</div>
		<!-- CARD FOOTER END -->
	</div>
</form>
<!-- 12 COLUMN CARD END -->