@model PatientEditViewModel

@inject IPatientService _patientService
@inject UserManager<CovidXUser> _userManager

@section Scripts{
	<script>
		$(function () {

			$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

			$('[data-mask]').inputmask()
		})
	</script>
}

@{
//var user1 = _userManager.FindByEmailAsync(User.Identity.Name).Result;

//// ...add that as a foreign key
////model.UserID = user.Id;

////find patient using USerID
//var patient = _patientService.FindPatientByUserID(user1.Id);
}


<!--Patient ID-->
<input asp-for="PatientId" hidden />


<!-- First Name -->
<label asp-for="FirstName">First Name</label>
<div class="input-group mb-3">

	<input asp-for="FirstName" class="form-control" placeholder="First Name">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-house-user"></span>
		</div>
	</div>
	<span asp-validation-for="FirstName" class="error invalid-feedback" />
</div>

<!-- Last Name -->
<label asp-for="LastName">Last Name</label>
<div class="input-group mb-3">

	<input asp-for="LastName" class="form-control" placeholder="Last Name">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-house-user"></span>
		</div>
	</div>
	<span asp-validation-for="LastName" class="error invalid-feedback" />
</div>

<!-- ID number -->
<label asp-for="Idnumber">ID Number</label>
<div class="input-group mb-3">

	<input asp-for="Idnumber" class="form-control" placeholder="ID Number">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-envelope"></span>
		</div>
	</div>
	<span asp-validation-for="Idnumber" class="error invalid-feedback" />
</div>

<!-- Mobile number -->
<label asp-for="MobileNumber">Mobile Number</label>
<div class="input-group mb-3">

	<input asp-for="MobileNumber" class="form-control" placeholder="Mobile Number">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-mobile"></span>
		</div>
	</div>
	<span asp-validation-for="MobileNumber" class="error invalid-feedback" />
</div>

<!-- AddressLine 1 -->
<label asp-for="AddressLine1">Address Line 1</label>
<div class="input-group mb-3">

	<input asp-for="AddressLine1" class="form-control" placeholder="Address Line 1">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-address-card"></span>
		</div>
	</div>
	<span asp-validation-for="AddressLine1" class="error invalid-feedback" />
</div>

<!-- AddressLine 2 -->
<label asp-for="AddressLine2">Address Line 2</label>
<div class="input-group mb-3">

	<input asp-for="AddressLine2" class="form-control" placeholder="Address Line 2 (optional)">
	<div class="input-group-append">
		<div class="input-group-text">
			<span class="fas fa-address-card"></span>
		</div>
	</div>
	<span asp-validation-for="AddressLine2" class="error invalid-feedback" />
</div>

<!-- Date of Birth -->
<div class="form-group">
	<!-- LABEL -->
	<label asp-for="Dob">Date of Birth</label>

	<div class="input-group">
		<!-- INPUT -->
		<input asp-for="Dob"
			   type="text"
			   class="form-control"
			   data-inputmask-alias="datetime"
			   data-inputmask-inputformat="dd/mm/yyyy"
			   data-mask
			   id="datemask">

		<!-- ICON -->
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="far fa-calendar-alt"></i>
			</span>
		</div>
		<!-- VALIDATION MESSAGE -->
		<span asp-validation-for="Dob" />
	</div>
</div>

<!-- Suburb List -->
<div class="input-group mb-3">

	<!-- INPUT LABEL -->
	<label asp-for="SuburbId">Suburb</label>
	<!-- INPUT ITEM -->
	<select asp-for="SuburbId"
			asp-items="_patientService.GetSuburbList()"
			class="selectpicker"
			data-width="100%"
			data-live-search="true"
			title="Select search options">
	</select>

	<!-- INPUT VALIDATION MESSAGE -->
	<span asp-validation-for="SuburbId"
		  style="display:inline" />
</div>

<!-- Gender -->
<div class="form-group">

	<!-- INPUT LABEL -->
	<label asp-for="Gender">Gender</label>

	<!-- INPUT ITEM -->
	<select asp-for="Gender"
			asp-items="Html.GetEnumSelectList<EFCORE_DATAACCESS.Models.CovidEnums.Gender>()"
			class="selectpicker"
			data-width="100%"
			data-live-search="true"
			title="Please select gender">
	</select>

	<!-- INPUT VALIDATION MESSAGE -->
	<span asp-validation-for="Gender"
		  style="display:inline" />
</div>